* {
  margin: 0;
  padding: 0;
}

body {
  font-style: italic;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.absatz {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.Button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: aliceblue;
}

.img {
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
