* {
  background-color: bisque;
  text-align: left;
}

h3 {
  color: blue;
  font-style: italic;
}

strong {
  font-size: large;
  color: red;
}

b {
  color: crimson;
  background-color: gray;
  padding: 5px;
}
